body {
    background-color: LightGray;
	font-family: helvetica;
}
div, section {
    border: 1px solid Chocolate;
}

.navbar{
	margin: 0 10%;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	color: grey;
	font-size: 1.2em;
	--position: fixed;
}

.navbar img{
	max-width: 2em;
}

.linksnav {
	float:right;
}

.linksnav li {
	display: inline-block;
	padding-left: 1.5em;
}

.linksnav a {
	color: grey;
	text-decoration: none;
}

.linksnav a:hover{
	color: #474747;
	background-color: lightblue;
	cursor: help; 
}

#currentPage {
	color: #474747;
}

.middle{
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	height: 735px;
}

.middle h1{
	padding-top: 250px;
}

.button{
	background-color: #FF8000;
	border-radius: 15px;
	padding: 1em;
	font-size: 1.2em;
	width: 100px;
	margin: 0 auto;
	overflow: auto;
}

.button:hover{
	background-color: red;
	cursor: pointer;
}